@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration";
}
<h1 class="d-flex justify-content-center align-items-center">Registration</h1>
<form asp-controller="Hospital" asp-action="AddHospital" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group my-4">
        <label for="HospitalName">Hospital Name</label>
        <input type="text" class="form-control" id="HospitalName" name="HospitalName" required>
    </div>

    @*<div class="form-group my-4">
        <label for="HospitalId">Hospital ID</label>
        <input type="text" class="form-control" id="HospitalId" name="HospitalId" required>
    </div>*@

    <div class="form-group my-4">
        <label for="HospitalEmail">Hospital Email</label>
        <input type="email" class="form-control" id="HospitalEmail" name="HospitalEmail" required>
    </div>

    <div class="form-group my-4">
        <label for="HospitalLocation">Hospital Location</label>
        <input type="text" class="form-control" id="HospitalLocation" name="HospitalLocation" required>
    </div>

    <div class="form-group my-4">
        <label for="HospitalPhone">Hospital Phone</label>
        <input type="text" class="form-control" id="HospitalPhone" name="HospitalPhone" required>
    </div>

    <div class="form-group my-4">
        <label for="ReceivedUnits">Received Units</label>
        <input type="number" min="0" class="form-control" id="ReceivedUnits" name="ReceivedUnits" required>
    </div>

    <div class="form-group my-4">
        <label for="DateOfAcception">Date Of Acception</label>
        <input type="date" class="form-control" id="DateOfAcception" name="DateOfAcception" min="@DateTime.Now.AddYears(-1).ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")">
    </div>

    <div class="form-group my-4">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>

    <div class="form-group my-4">
        <label for="ConfirmPassword">ConfirmPassword</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
    </div>

    <div class="d-flex justify-content-center align-items-center my-4">
        <button type="submit" class="btn btn-danger px-4 py-2 my-3">Submit</button>@* value="Create" *@
    </div>
</form>