################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blood Bank Management System/wwwroot/css/img/Donate.jpg
