@{
    ViewData["Title"] = "Doctor";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="body">
    <form>
 <input class="back" type="button" value="Back" onclick="history.back()">
 <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="search-div"></i>search</button>
</form>
<table>
    <!-- Demonstrait the caption -->
    <caption>Donors</caption>
    <!-- Demonstrait the head -->
    <thead>
        <!-- Table raw -->
        <tr>
            <!-- Table header -->
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Blood Type</th>
            <th>Last Donation Date</th>
        </tr>
    </thead>
    <!-- Demonstrait the body -->
    <tbody>
        <!-- Demonstrait the first raw -->
        <tr>
            <td>123</td>
            <td>Ahmed</td>
            <td>25</td>
            <td>012013</td>
            <td>male</td>
            <td>assiut</td>
            <td>O+</td>
            <td>1/12/2022</td>
        </tr>
        <!-- Demonstrait the second raw -->
        <tr>
            <td>133</td>
            <td>mohamed</td>
            <td>21</td>
            <td>011013</td>
            <td>male</td>
            <td>assiut</td>
            <td>A+</td>
            <td>1/1/2022</td>
        </tr>
        <!-- Demonstrait the third raw -->
        <tr>
            <td>223</td>
            <td>ramez</td>
            <td>24</td>
            <td>013023</td>
            <td>male</td>
            <td>assiut</td>
            <td>D+</td>
            <td>5/2/2022</td>
        </tr>
        <!-- Demonstrait the fourth raw -->
        <tr>
            <td>323</td>
            <td>islam</td>
            <td>22</td>
            <td>022413</td>
            <td>male</td>
            <td>assiut</td>
            <td>O</td>
            <td>14/12/2021</td>
        </tr>
        <!-- Demonstrait the fifth raw -->
        <tr>
            <td>224</td>
            <td>Ahmed</td>
            <td>26</td>
            <td>034013</td>
            <td>male</td>
            <td>assiut</td>
            <td>D</td>
            <td>19/2/2021</td>
        </tr>
    </tbody>
</table>

<div class="button-div">
    <button>change</button>
</div>
</body>