@{
    ViewData["Title"] = "Management";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
    <link href="~/css/pop-up.css" rel="stylesheet">
</head>
<body class="body">
    <dialog id="dialog_1">
        <h2>select your choice</h2>
        <!-- Male -->
        <input id="radio_1" type="radio" name="choice" checked>
        <label>Add</label>
        <!-- Female -->
        <input id="radio_2" type="radio" name="choice">
        <label>Remove</label>
        <!-- Default -->
        <input id="radio_3" type="radio" name="choice">
        <label>Delete</label><br>
        <!-- button -->
        <button id="Done">Done</button>
    </dialog>
    <section>
        <input type="text" placeholder="Search..." name="search">
        <button><span class="glyphicon glyphicon-search"></span>search</button>
    </section>
    <table>
        <!-- Demonstrait the caption -->
        <caption>Management</caption>
        <!-- searching div -->
        
        <!-- Demonstrait the head -->
        <thead>
            <!-- Table raw -->
            <tr>
                <!-- Table header -->
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Function</th>
            </tr>
        </thead>
        <!-- Demonstrait the body -->
        <tbody>
            <!-- Demonstrait the first raw -->
            <tr>
                <td>Ahmed</td>
                <td>Egypt</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
            <!-- Demonstrait the second raw -->
            <tr>
                <td>Mohammed</td>
                <td>cairo</td>
                <td>other</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
            <!-- Demonstrait the third raw -->
            <tr>
                <td>Mohammed</td>
                <td>cairo</td>
                <td>other</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
            <!-- Demonstrait the fourth raw -->
            <tr>
                <td>Mohammed</td>
                <td>cairo</td>
                <td>other</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
            <!-- Demonstrait the fifth raw -->
            <tr>
                <td>Mohammed</td>
                <td>cairo</td>
                <td>other</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
        </tbody>
        <!-- Demonstrait the footer -->
        <tfoot>
            <tr>
                <td>Total</td>
                <td>500</td>
                <td>450</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
                <td>250</td>
            </tr>
        </tfoot>
    </table>
    <div class="button-div">
        <button id="change">change</button>
    </div>
    <script src="~/js/pop-up.js"></script>
</body>