@* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*
@{
    ViewData["Title"] = "RequestBlood";
}
<head>
    <link rel="stylesheet" href="~/css/RequestBlood.css" asp-append-version="true" />
</head>
<form>
    
    <div>
        <div class="reqbutton">
            <input id="button1" class="button" type="submit" value="send a Request"
                    a asp-controller="Home" asp-action="SendRequest">
        </div>
        <div class="reqbutton">
            <input id="button2" class="button" type="submit" value="View Requests"
                    a asp-controller="Home" asp-action="ViewRequests">
        </div>
    </div>
</form> *@