@{
    ViewData["Title"] = "SearchBlood";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <section>
        <input type="text" placeholder="Search..." name="search">
        <button><span class="glyphicon glyphicon-search"></span>search</button>
    </section>
    <div class="search-blood">
        <table>
            <!-- Demonstrait the caption -->
            <caption>Search Blood</caption>
            <!-- Demonstrait the head -->
            <thead>
                <!-- Table raw -->
                <tr>
                    <!-- Table header -->
                    <th>Blood Id</th>
                    <th>Blood Type</th>
                    <th>Quantity</th>
                    <th>Status Of Blood</th>
                </tr>
            </thead>
            <!-- Demonstrait the body -->
            <tbody>
                <!-- Demonstrait the first raw -->
                <tr>
                    <td>A+</td>
                    <td>5</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
                <!-- Demonstrait the second raw -->
                <tr>
                    <td>O+</td>
                    <td>15</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
                <!-- Demonstrait the third raw -->
                <tr>
                    <td>C</td>
                    <td>12</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
                <!-- Demonstrait the fourth raw -->
                <tr>
                    <td>O-</td>
                    <td>3</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
                <!-- Demonstrait the fifth raw -->
                <tr>
                    <td>O</td>
                    <td>7</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
            </tbody>
            <!-- Demonstrait the footer -->
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>47</td>
                    <td>A+</td>
                    <td>5</td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-center align-items-center">
            <div class="button-div px-4">
                <button>Add</button>
            </div>
            <div class="button-div px-4">
                <button>Update</button>
            </div>
            <div class="button-div px-4">
                <button>Remove</button>
            </div>
        </div>
    </div>
</body>