@{
    ViewData["Title"] = "SearchBlood";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
    <link href="~/css/pop-up.css" rel="stylesheet">
</head>
<body class="body">
    <dialog id="dialog_1">
        <h2>select your choice</h2>
        <!-- Male -->
        <input id="radio_1" type="radio" name="choice" checked>
        <label>Add</label>
        <!-- Female -->
        <input id="radio_2" type="radio" name="choice">
        <label>Remove</label>
        <!-- Default -->
        <input id="radio_3" type="radio" name="choice">
        <label>Delete</label><br>
        <!-- button -->
        <button id="Done">Done</button>
    </dialog>
    <section>
        <input type="text" placeholder="Search..." name="search">
        <button><span class="glyphicon glyphicon-search"></span>search</button>
    </section>
    <div class="search-blood">
        <table>
            <!-- Demonstrait the caption -->
            <caption>Search Blood</caption>
            <!-- Demonstrait the head -->
            <thead>
                <!-- Table raw -->
                <tr>
                    <!-- Table header -->
                    <th>Blood Type</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <!-- Demonstrait the body -->
            <tbody>
                <!-- Demonstrait the first raw -->
                <tr>
                    <td>A+</td>
                    <td>5</td>
                </tr>
                <!-- Demonstrait the second raw -->
                <tr>
                    <td>O+</td>
                    <td>15</td>
                </tr>
                <!-- Demonstrait the third raw -->
                <tr>
                    <td>C</td>
                    <td>12</td>
                </tr>
                <!-- Demonstrait the fourth raw -->
                <tr>
                    <td>O-</td>
                    <td>3</td>
                </tr>
                <!-- Demonstrait the fifth raw -->
                <tr>
                    <td>O</td>
                    <td>7</td>
                </tr>
            </tbody>
            <!-- Demonstrait the footer -->
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>47</td>
                </tr>
            </tfoot>
        </table>
        <div class="button-div">
            <button id="change">change</button>
        </div>
    <script src="~/js/pop-up.js"></script>
    </div>
</body>