@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ViewRequests";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/glyphicon.css" rel="stylesheet">
</head>
<body class="body">
    <section>
        <input type="text" placeholder="Search..." name="search">
        <button><span class="glyphicon glyphicon-search"></span>search</button>
    </section>
    <table>
        <caption>Requests</caption>
        <thead>   
            <tr>
                <th>Number</th>
                <th>Hospital Name</th>
                <th>E-mail</th>
                <th>Address</th>
                <th>Blood Type</th>
                <th>Quantity</th>
                <th>Request Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Almabara</td>
                <td>almabara@gmail.com</td>
                <td>Assiut</td>
                <td>A+</td>
                <td>500</td>
                <td>Accepted</td>
               
            </tr>
      
            <tr>
                <td>2</td>
                <td>Alhelal</td>
                <td>alhelal@gmail.com</td>
                <td>Assiut</td>
                <td>O+</td>
                <td>200</td>
                <td>Not enough</td>
            </tr>
           
            <tr>
                <td>3</td>
                <td>Alhayat</td>
                <td>alhayat@gmail.com</td>
                <td>Assiut</td>
                <td>B+</td>
                <td>600</td>
                <td>Rejected</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dar Al Shifa</td>
                <td>daralshifa@gmail.com</td>
                <td>Assiut</td>
                <td>A-</td>
                <td>100</td>
                <td>Accepted</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Oteify</td>
                <td>otify@gmail.com</td>
                <td>Assiut</td>
                <td>AB</td>
                <td>800</td>
                <td>Accepted</td>
            </tr>
        </tbody>
    </table>
    <div class="button-div">
        <button>change</button>
    </div>
</body>