@import url('https://fonts.googleapis.com/css?family=Numans');
main {
    width: 960px;
    margin: 1% auto;
    text-align: center;
    text-transform: capitalize;
}
main .images {
    height: 540px;
    background-image: url("img/01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animate 20s 1s infinite;    /* name-duration-delay-count */
}
@keyframes animate {
    10%{background-image: url("img/02.jpg");}
    30%{background-image: url("img/03.jpg");}
    50%{background-image: url("img/04.jpg");}
    70%{background-image: url("img/05.jpg");}
}
main button {
    margin-top: 3%;
}
button a {
    text-decoration: none;
    color: white;
}
button a:hover {
    color: black;
}