@import url('https://fonts.googleapis.com/css?family=Numans');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(203, 243, 246);
    background-position: center;
    background-size: cover;
}
main {
    width: 960px;
    margin: 1% auto;
    text-align: center;
    text-transform: capitalize;
}

main .images {
    height: 540px;
    background-image: url("img/01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    animation: animate 20s 1s infinite; /* name-duration-delay-count */
}

@keyframes animate {
    10% {
        background-image: url("img/02.jpg");
    }

    30% {
        background-image: url("img/03.jpg");
    }

    50% {
        background-image: url("img/04.jpg");
    }

    70% {
        background-image: url("img/05.jpg");
    }
}

main .project-info {
    display: flex;
    justify-content: space-around;
}

main button {
    margin-top: 3%;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    color: black;
}