@import url('https://fonts.googleapis.com/css?family=Numans');
body, html {
    background-image: url('img/premium_photo-1671827108313-eaffae392085.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

#profile-img {
    height: 180px;
    margin-top: 50%;
}

.h-80 {
    height: 80% !important;
}
