dialog {
    border: 0;
    width: 20%;
    user-select: none;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
}
#dialog_1 {
    width: 25%;
}
#dialog_1 label {
    font-size: 1.3em;
}
#dialog_1 input {
    outline: none;
}