@import url('https://fonts.googleapis.com/css?family=Numans');
.body {
    background-image: url("img/111.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}
table, table td, table th {
    border: 2px solid #e5b2b2;
}
table {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4em;
    cursor: pointer;
    border-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.search-blood {
    width: 43%;
    margin: 0 auto;
}
table caption {
    padding: 1%;
    font-size: 1.6em;
}
table thead {
    color: #EEE;
    background-color: #ffb8b8;
}
table td {
    padding: 1%;
    background-color: #f4c5c5;
}
table tbody tr:hover td, table tfoot tr:hover td {
    color: white;
    background-color: #ffd3d3;
}
/* button */
.button-div {
    display: flex;
    justify-content: space-around;
}
button {
    border: 0px;
    color: #fff;
    border-radius: 5px;
    margin-top: 1.3%;
    text-transform: capitalize;
}
.button-div button {
    font-size: 20px;
    padding: 12px 20px;
    background-color: #f57f7f;
}
.button-div button:hover {
    cursor: pointer;
    background-color: #ff6c6c;
}
.button-div button:active {
    background-color: #fe9696;
}
/* section-button */
section button, dialog button {
    color: #dc3545;
    font-size: 25px;
    padding: 3px 15px;
    border: 2px solid #dc3545;
}
section button:hover, dialog button:hover {
    color: white;
    cursor: pointer;
    background-color: #dc3545;
}
/* section-input */
section input {
    width: 85%;
    height: 6vh;
    padding: 1%;
    border-radius: 7px;
}
button span {
    padding-right: 15px;
}