.body {
    /* <!-- blood name! --> */
    background-image: url("/123.jpg");
}
.inputs {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    font-size: 1em;
}
.back {
    font-size: 0.8cm;
    border: 0cm;
    background-color: #e69393;
    margin-right: 60%;
}
table, table td, table th {
    border: 1.5px solid #e5b2b2;
}
table {
    width: 80%;
    /* height: 90vh; */
    margin: 0 auto;
    font-size: 1.4em;
    border-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.search-blood {
    width: 43%;
    margin: 0 auto;
}
table caption {
    padding: 1% 1.5%;
    font-size: 1.6em;
}
table thead {
    color: #EEE;
    background-color: #e69393;
}
table td {
    padding: 1.8% 1%;
    background-color: #f4c5c5;
}
/* button */
.button-div {
    display: flex;
    justify-content: space-around;
}
button {
    border: 0px;
    color: #fff;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    margin-top: 1.3%;
    text-transform: capitalize;
    background-color: #f57f7f;
}
button:hover {
    cursor: pointer;
    background-color: #ff6c6c;
}
button:active {
    background-color: #fe9696;
}
/* search-div */
.search-div {
    text-align: center;
    background-color: #ffe0e0;
    height: 5vh;
}
.search-div input {
    width: 80%;
    height: 5vh;
    font-size: 1em;
}
.search-div input:focus {
    outline: none;
}
