@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    align-items: normal;
    background: url(img/back3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Numans', sans-serif;
}
.header h2 {
    color: rgb(250, 8, 56);
    margin-top: 60px;
    font-size: 2.2em;
    font-weight: 700;
}

    .header h2 span {
        display: inline-block;
        margin-top: 10px;
        color: rgb(219, 15, 15);
        font-size: 1.8em;
        font-weight:600;
    }

.contain {
    align-items: normal;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: inherit;
    padding: 50px 400px 50px 10px;
}
    
.project-card {
    background-color: rgb(212, 244, 244);
    border: 2px solid rgb(229, 4, 4);
    min-height: 0.5em;
    width: 15em;
    overflow: hidden;
    border-radius: 25px;
    margin: 5px;
    transition: 0.7s ease;
}

    .project-card:hover {
        transform: scale(1.1);
    }

        .project-card:hover .images {
            opacity: 0.9;
        }

.images img {
    width: 100%;
    height: 15em;
}

.project-info {
    padding: 0.5em;
    text-align: center;
    font-weight: 800;
}

.more-details {
    text-decoration: none;
    color: rgb(229, 4, 4);
    padding: 0.5em;
    text-align: center;
}

    .more-details:hover {
        color: rgb(116, 4, 4);
    }
