@{
    ViewData["Title"] = "Add";
}
<h1 class="d-flex justify-content-center align-items-center">Form For Request Data</h1>
<form asp-controller="Request" asp-action="Add" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="my-4">
        <label for="HospitalToRequestFrom.HospitalName">Hospital Name</label>
        <input type="text" class="form-control" id="HospitalToRequestFrom.HospitalName" name="HospitalToRequestFrom.HospitalName" required>
    </div>
    <div class="my-4">
        <label for="HospitalToRequestFrom.HospitalEmail">Hospital Email</label>
        <input type="email" class="form-control" id="HospitalToRequestFrom.HospitalEmail" name="HospitalToRequestFrom.HospitalEmail" required>
    </div>
    <div class="form-group my-4">
        <label for="HospitalToRequestFrom.HospitalLocation">Hospital Location</label>
        <input type="text" class="form-control" id="HospitalToRequestFrom.HospitalLocation" name="HospitalToRequestFrom.HospitalLocation" required>
    </div>

    <div class="form-group my-4">
        <label for="HospitalToRequestFrom.HospitalPhone">Hospital Phone</label>
        <input type="text" class="form-control" id="HospitalToRequestFrom.HospitalPhone" name="HospitalToRequestFrom.HospitalPhone" required>
    </div>
    @* enum *@
    <div class="my-4">
        <label for="BloodType">BloodType</label>
        <select class="form-control form-select" id="BloodType" name="BloodType" required>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>
    </div>
    <div class="my-4">
        <label for="BloodQuantity">Blood Quantity</label>
        <input type="text" class="form-control" id="BloodQuantity" name="BloodQuantity" required>
    </div>
    <div class="my-4">
        <label for="RequestDate">Request Date</label>
        <input type="date" class="form-control" id="RequestDate" name="RequestDate" required>
    </div>

    <div class="d-flex justify-content-center align-items-center my-4">
        <button type="submit" class="btn btn-danger px-4 py-2 my-3">Submit</button>@* value="Add" *@
    </div>
</form>
